POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DB_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=8001

DB__HOST=postgres
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__DATABASE=postgres

TOKEN__SECRET_KEY=sekretny_klucz
TOKEN__ALGORITHM=HS256
TOKEN__ACCESS_TOKEN_EXPIRE_MINUTES=2880

CURRENCY_API__ADDRESS=https://api.nbp.pl/api/

API_ROOT_PATH=

API_URL=/api
