# Konfiguracja aplikacji - BACKEND
## Baza danych
DB__HOST=localhost # jeżeli baza danych działa lokalnie
# DB__HOST=postgres  # jeśli baza danych działa w kontenerze o nazwie "postgres"
DB__PORT=5432
DB__USER=postgres
DB__PASSWORD=postgres
DB__DATABASE=postgres
## Sekrety tokenów
TOKEN__SECRET_KEY=your_secret_key
TOKEN__ALGORITHM=HS256
TOKEN__ACCESS_TOKEN_EXPIRE_MINUTES=2880
## Adres API NBP
CURRENCY_API__ADDRESS=https://api.nbp.pl/api/

# Konfiguracja aplikacji - PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres 